<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form action="#" th:action="@{/admin/edit}" th:object="${user}" method="post">
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <span class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>
    <label for="username"> Логин</label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <span class="errors" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <br/>
    <label for="lastName"> Enter Lastname:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <span class="errors" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    <br/>
    <label for="email"> Enter Email:</label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <span class="errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <br/>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="roles">Роль:</label>
    <select  id="roles" name="checkRoles">
        <option selected = "true">USER</option>
        <option>ADMIN</option>
    </select>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>