<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form action="#" th:action="@{/admin/edit}" th:object="${user}" method="post">
    <label for="idAdd"></label>
    <input hidden="hidden" type="number" th:field="*{id}" id="idAdd" placeholder="id">
    <label for="firstNameUpdate">Имя</label>
    <input type="text" th:field="*{name}" id="firstNameUpdate" placeholder="Имя">
    <br>
    <label for="lastNameUpdate">Фамилия</label>
    <input type="text" th:field="*{lastName}" id="lastNameUpdate" placeholder="Фамилия">
    <br>
    <label for="emailUpdate">Эл. почта</label>
    <input type="text" th:field="*{email}" id="emailUpdate" placeholder="Эл. почта">
    <br>
    <label for="userNameUpdate">User name</label>
    <input type="text" th:field="*{userName}" id="userNameUpdate" placeholder="User name">
    <br>
    <label for="passwordUpdate">Пароль</label>
    <input type="text" th:field="*{password}" id="passwordUpdate" placeholder="Пароль">
    <br>
    <label for="roles">Роль:</label>
    <select  id="roles" name="checkRoles">
        <option selected = "true">USER</option>
        <option>ADMIN</option>
    </select>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>